<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context-3.0.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
  http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring   
  http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd">

<ehcache:annotation-driven cache-manager="ehCacheManager" /> 
 
   <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">  
       <property name="configLocation" value="classpath:ehcache.xml" />  
   </bean>
   
<!--    <bean id="noCacheService" parent="transactionProxy"> -->
<!-- 		<property name="target"> -->
<!-- 			<bean -->
<!-- 				class="com.yinhai.ta.demo.app.service.impl.NoCacheServiceImpl" parent="abstractBaseService"> -->
				
<!-- 			</bean> -->
<!-- 		</property> -->
<!-- 	</bean>	  -->
	
<!-- 	<bean id="ehCacheService" parent="transactionProxy"> -->
<!-- 		<property name="target"> -->
<!-- 			<bean -->
<!-- 				class="com.yinhai.ta.demo.app.service.impl.EHCacheServiceImpl" parent="abstractBaseService"> -->
				
<!-- 			</bean> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
</beans>